.elementor-element.e-con-full.e-con{
  padding: 0;
}
.search-box.global-search{
  background-image: none;
  padding: 0;
  .search-box-item {
    margin-top: 0;
    padding: 0;
    background: transparent;
  }
}
.search-box.custom-global-search{
  @media screen and (max-width: 991px){
    display: block;
  }
}
.search-bar.custom-global-search{
  input{
    width: 100%;
  }
}